@font-face {
   font-family: 'Berkshire Swash';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/DJ_PC/Desktop/DROGARIA%20STA%20MARGARIDA/fonts/Berkshire Swash/regular.ttf') format('truetype');
}
